@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Oswald&family=Poppins&display=swap");

svg {
  cursor: pointer;
}

#sun {
  fill: var(--light-color);
}

#circle,
#overlay {
  transition: all 1s ease;
}

.overlay-hide {
  opacity: 0;
}

.white {
  fill: #ffffff;
}

.moon-circle {
  transform: translateX(var(--transl));
  transition: all 0.1s ease;
}

.real-moon {
  transform: translateX(0px) !important;
}

.mobile-nav {
  transition: all 0.5s ease;
  top: -1600px;
}

.show-mobile-nav {
  top: 0px;
}

.menu-btn__burger {
  width: 28px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

.open.menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.open.menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open.menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#visual {
  width: 100vw;
}

.testimonial-curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
html {
  scroll-behavior: smooth;
}

#outlined-basic {
  outline-color: white;
}

#Layer_1 {
  vertical-align: baseline !important;
}
.contact {
  margin-left: 23px;
}

#career .title.jsx-3385074358 h3.jsx-3385074358 {
  color: white;
}
#career svg.jsx-3093828604 {
  fill: white;
}

.hid {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.post-1 h1 {
  font-size: 50px;
  line-height: 1.5;
}
.post-1 h2 {
  font-size: 50px;
  line-height: 1.5;
}

.post-1 p {
  margin: 25px 0;
  line-height: 1.5;
}

.post-1 a {
  color: blue;
  text-decoration: underline;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

/* hero text animation */

.effectedtext {
  animation: textanimation 3s linear infinite;
  background: linear-gradient(to right, #8a2be2, #00f5a0, #8a2be2);
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
}

@keyframes textanimation {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.effectContainer {
  display: inline-block;
  position: relative;
}
.effectStar {
  position: absolute;
  display: block;
  height: 10px;
  fill: white;
  height: var(--size);
  width: var(--size);
  left: var(--star-left);
  top: var(--star-top);
  animation: scale 700ms ease forwards;
}

@keyframes scale {
  from,
  to {
    scale: 0;
  }
  50% {
    scale: 1;
  }
}

.effectStar > svg {
  display: block;
  opacity: 0.7;
  animation: rotation 1000ms linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.effectStar > svg > path {
  fill: #8a2be2;
}

#careers .title {
  color: white;
}

/*projects card */
.projectscard:before {
  background: linear-gradient(90deg, #6e45e1, #89d4cf);
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  transition: background-position 350ms ease;
}
.projectscard:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.08);
}

.card-content {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  width: 100%;
  padding: 15px;
  position: absolute;
  z-index: 10;
  transition: background-position 350ms ease;
}

.projectscard:hover > .card-content {
  background-position: -10% 0%;
}
